.about__wrap {
    width: 70%;
    margin: 9% auto 0 auto;
}

.about-header {
    display: flex;
    align-items: center;
}

.about-header-1 {
    color: #36c275;
    font-weight: bold;
    font-size: 1.7vw;
}

.about-header-2 {
    font-size: 1.7vw;
    color: #DCE1DE;
    letter-spacing: 3px;
}

.about-line {
    width:15vw;
    margin-left: 5%;
    height: 1.5px;
    border: none;
    background-color: #DCE1DEcc;
}

.about-body {
    display: flex;
    justify-content: space-between;
}

.about-image {
    flex:5;
}

.image {
    margin-left:9%;
    border-radius: 3px;
    border: solid #36c275 3px;
    width: 25vw;
    /* height: 27vw; */
    margin-top:0%;
}

.about-box {
    /* display: inline-flex; */
    width: 25vw;
    height: 28.5vw;
    border: solid #36c275 3px;
    position: absolute;
    margin-top: -27%;
    margin-left: 5%;
    z-index: -1;
    /* margin-top:8%; */

}

.about-text {
    margin-top: 2%;
    flex: 6;
}

.about-para {
    color: #dce1dee3;
    font-size: 1.2vw;
    line-height: 150%;
    letter-spacing: 1px;
}

.about-table {
    width: 90%;
}

.lang-cell {
    display: flex;
    padding: 4%;
}

.lang-text {
    padding: 2%;
    color: #dce1dee3;
    font-size: 1.2vw;
    letter-spacing: 1px;
}

@media screen and (max-width: 1100px) {
    .about__wrap {
        width: 80%;
        margin-top: 16%;
        margin-right: 7%;
    }

    .about-header-1, .about-header-2 {
        font-size: 2.5vw;
    }

    .about-text {
        margin-top: 4%;
    }

    .about-para {
        font-size: 1.3vw;
    }

    .about-table {
        margin-top: 4%;
    }

    .lang-cell {
        align-items: center;
    }

    .about-image {
        margin-top: 6%;
    }
}