.exp__wrap {
    width: 60%;
    margin: 9% auto 0 auto;
    margin-right: 20%;
}

.exp-header {
    display: flex;
    align-items: center;
}

.exp-header-1 {
    color: #36c275;
    font-weight: bold;
    font-size: 1.7vw;
}

.exp-header-2 {
    font-size: 1.7vw;
    color: #DCE1DE;
    letter-spacing: 3px;
}

.exp-line {
    width:15vw;
    margin-left: 5%;
    height: 1.5px;
    border: none;
    background-color: #DCE1DEcc;
}

.exp-companies {
    flex: 1;
}

.exp-body {
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
}

.exp-company {
    border-left: solid 4px #DCE1DE55;
    padding: 3%;
    padding-top:5%;
    padding-bottom: 5%;
    transition: border-left 0.3s;
    cursor: pointer;
}

.exp-company.current {
    border-left: solid 4px #36c275;
    padding: 3%;
    padding-top:5%;
    padding-bottom: 5%;
}

.exp-company-text {
    color: #DCE1DE55;
    font-size: 1vw;
    text-align: center; 
    font-weight: bold;
    letter-spacing: 1.8px;
    transition: font-size 0.1s, color 0.3s;
}

.exp-company-text.currentText {
    color: #36c275;
    font-size: 1.2vw;
    text-align: center; 
}

.exp-details {
    flex: 4;
    margin-left: 7%;
}

.exp-details-1 {
    font-size: 1.2vw;
    letter-spacing: 0.8px;
    color: #DCE1DE;
}

.exp-details-2 {
    font-size: 1.2vw;
    letter-spacing: 0.8px;
    color: #DCE1DEcc;
    margin-top: 2%;
}

.exp-details-1-1 {
    color: #36c275;
    font-weight: bold;
}

.exp-bullets {
    margin-left: 2%;
    margin-top: 2%;
    list-style: none;
}

.exp-point {
    color: #DCE1DEcc;
    font-size: 1.2vw;
    letter-spacing: 0.8px;
    margin-top: 1%;
    list-style: none;
    line-height: 134%;
}

.exp-point::before {
    content: "\2022";
    color: #36c275;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
  }

@media screen and (max-width: 1100px) {
    .exp__wrap {
        width: 60%;
        margin-top: 13%;
    }

    .exp-header-1, .exp-header-2 {
        font-size: 2.5vw;
    }

    .exp-body {
        margin-top: 6%;
    }

    .exp-company-text.currentText {
        font-size: 1.7vw;
    }

    .exp-company-text {
        font-size: 1.4vw;
    }

    .exp-company, .exp-company.current {
        padding-left: 6%;
        padding-top: 7%;
        padding-bottom: 7%;
    }

    .exp-details-1, .exp-details-2, .exp-point {
        font-size: 1.5vw;
    }

    .exp-details-2, .exp-bullets {
        margin-top: 6%;
    }
}

@media screen and (max-width: 900px) {
    .exp__wrap {
        margin-top: 18%;
    }
    
}

@media screen and (max-width: 550px) {
    .exp__wrap {
        width: 90%;
        margin-top: 27%;
        margin: 30% auto 0 auto;
    }

    .exp-body {
        display: block;
    }

    .exp-header-1, .exp-header-2 {
        font-size: 3.5vw;
    }

    .exp-companies {
        display: flex;
        justify-content: center;
        margin-bottom: 4%;
    }

    .exp-company {
        border-bottom: solid 4px #DCE1DE55;
        border-left: none;
        transition: border-bottom 0.3s;
        cursor: pointer;
        height: 0vh;
        padding-left: 6%;
        padding-right: 6%;
        padding-top: 0%;
        padding-bottom: 5%;
    }

    .exp-company.current {
        border-bottom: solid 4px #36c275;
        border-left: none;
        padding-left: 6%;
        padding-right: 6%;
        padding-top: 0%;
        padding-bottom: 5%;

    }

    .exp-company-text {
        font-size: 2vw;
    }
    
    .exp-company-text.currentText {
        font-size: 2.7vw;
    }

    .exp-details {
        margin: 0 auto;
        width:85%;
    }

    .exp-details-1, .exp-details-2, .exp-point {
        font-size: 2.5vw;
    }

    .exp-point {
        margin-bottom: 5%;
    }

    .exp-bullets {
        margin-left: 5%;
    }
}