.projects__wrap {
    width: 70%;
    margin: 9% auto 0 auto;
}

.projects-header {
    display: flex;
    align-items: center;
}

.projects-header-1 {
    color: #36c275;
    font-weight: bold;
    font-size: 1.7vw;
}

.projects-header-2 {
    font-size: 1.7vw;
    color: #DCE1DE;
    letter-spacing: 3px;
}

.projects-line {
    width:15vw;
    margin-left: 5%;
    height: 1.5px;
    border: none;
    background-color: #DCE1DEcc;
}

.projects-body {
    margin-top: 3%;
}

.project-1 {
    display: flex;
    margin-bottom: 6%;
}

.project-1-image.left {
    position: relative;
    left: -5%;
}

.project-1-image {
    z-index: -1;
}

.project-1-img {
    box-shadow: 0 0 20px #000;
    width:40vw;
    height: auto;
    border-radius: 4px;
    opacity: 0.8;
    transition: all 0.3s;
}

.project-1-img:hover {
    opacity: 1;
}

.project-1-details {
    text-align: right;
    margin-left: -5%;
}

.project-1-details.left {
    text-align: left;
    margin-left: 0%;
}

.project-1-details-1 {
    font-size: 1.2vw;
    font-weight: bold;
    color: #36c275;
    letter-spacing: 1px;
    margin-bottom: 4%;
}

.project-1-details-2 {
    font-size: 1.4vw;
    font-weight: bold;
    color: #DCE1DE;
    letter-spacing: 1px;
    margin-bottom: 4%;
}

.project-1-details-3 {
    font-size: 1vw;
    font-weight: bold;
    color: #DCE1DEcc;
    line-height: 140%;
    padding: 2%;
    background-color: #0e3044;
    box-shadow: 0px 0px 30px rgb(0,0,0);
    width: 35vw;
    z-index: 100;
    border-radius: 5px;
    letter-spacing: 1px;
    line-height: 140%;
    margin-bottom: 5%;
}

.project-1-details-4 {
    display: flex;
    justify-content: space-between;
    width: 25vw;
    margin: 0 auto;
    line-height: 190%;
    position: relative;
    left: 14%;
    margin-bottom: 4%;
}

.project-1-details-4.left {
    position: relative;
    /* width: 30vw; */
    left:-14%;
    margin-bottom: 4%;
}

.tag {
    font-size: 1.2vw;
    font-weight: bold;
    color: #DCE1DEcc;
}

.project-1-details-5 {
    display: flex;
    justify-content: space-evenly;
    width: 10vw;
    align-items: center;
    margin-left: 77%;
}

.project-1-details-5.left {
    justify-content: space-between;
    align-items: center;
    width: 7vw;
    margin-left: 0%;
}

.project-1-icon-link {
    text-decoration: none;
    transition: all 0.3s;
}

.project-icon {
    margin-right: 4%;
}

.project-icon.left {
    margin-right: -5%;
}






