.logo-wrap {
    flex: 3;
}

.logo {
    background-color: #0e212c;
    border: solid 3px #36c275;
    width:60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 5px #36c275,0 0 10px #36c275,0 0 20px #36c275,0 0 100px #36c275;
}

.initial {
    color: #36c275;
    font-size: 45px;
}

@media screen and (max-width: 1100px) {
    .logo {
        width: 40px;
        height: 40px;
    }

    .initial {
        font-size: 30px;
    }
}