.nav-bar__wrap {
    align-items: center;
    background-color: #0e212c;
    padding: 1.5%;
    padding-left: 3%;
    padding-right: 3%;
    box-shadow: 0 0 20px #000;
    position: fixed;
    top:0;
    width:100%;
    z-index: 100;
}

.nav-bar__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
}

.links {
    display: flex;
    justify-content: space-evenly;
    flex: 3;
}

.link {
    text-decoration: none;
    font-size: 1.2vw;
    transition-delay: 0.2s;
    transition-duration: 0.2s;
    padding-bottom: 1vh;
}

.link:hover {
    border-bottom: solid #36c275 6px;
}

.link-sno {
    color: #36c275;
    font-weight: bold;
}

.link-text {
    color: #DCE1DEcc;
    letter-spacing: 1px;
    transition: all 0.3s;
}

.link-text:hover {
    color: #36c275;
    letter-spacing: 1.5px;
    font-weight: bold;
}

.hamburger, .hamburger-menu {
    display: none;
}



@media screen and (max-width: 1100px) {
    .link {
        font-size: 1.4vw;
    }
}

@media screen and (max-width: 900px) {
    .links {
        display: none;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        z-index: 500;
    }

    .hamburger-line-1 {
        height: 2.5px;
        width: 40px;
        background-color: #36c275;
        transition: all 0.3s;
        transition-delay: 0.1s;
        border-radius: 50px;
    }

    .hamburger-line-1.on {
        transform: rotateZ(45deg);
        margin-top:-1px;
    }

    .hamburger-line-2 {
        height: 2.5px;
        width: 30px;
        background-color: #36c275;
        transition: opacity 0.3s;
        position: relative;
        top: 5px;
        border-radius: 50px;

    }

    .hamburger-line-3 {
        height: 2.5px;
        width: 20px;
        background-color: #36c275;
        transition: all 0.3s;
        position: relative;
        top: 10px;
        transition-delay: 0.1s;
        border-radius: 50px;

    }

    .hamburger-line-3.on {
        margin-top: -19px;
        transform: rotateZ(-45deg);
        width: 40px;
    }

    .hamburger-line-2.on {
        opacity: 0;
    }

    .hamburger-menu.on {
        display: block;
        position: fixed;
        top:0;
        bottom: 0;
        left:0;
        right: 0;
        background-color: rgb(0,0,0,0.8);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .link {
        font-size: 4vw;
    }

    .hamburger-links {
        margin-bottom: 24%;
    }
}

@media screen and (max-width: 550px) {
    .nav-bar__wrap {
        padding-left: 7%;
        padding-right: 7%;
    }

    .hamburger {
        margin-bottom: 8px;
    }
}