.other-projects__wrap {
    /* margin-top: 12%; */
    width:70%;
    margin: 12% auto 0 auto;
    z-index: 3;
}

.other-projects-header {
    font-size: 1.5vw;
    color: #DCE1DE;
    letter-spacing: 1.5px;
    text-align: center;
    margin-bottom: 3%;
}

.other-projects-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.other-projects-card-link {
    text-decoration: none;
    width: 23vw;
}

.other-projects-card {
    padding: 8%;
    border-radius: 6px;
    height: 20vw;
    margin: 2%;
    background-color: #0e3044;
    position: relative;
    top: 0;
    transition: all 0.2s;
}

.other-projects-card:hover {
    position: relative;
    top: -7px;
    box-shadow: 0 0 10px rgb(0,0,0);
}

.card-header-icon-div {
    display: flex;
    align-items: center;
}

.card-header-icon-a:first-child {
    margin-right: 18%;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6%;
}

.other-projects-content-1 {
    font-size: 1.2vw;
    font-weight: bold;
    color: #DCE1DE;
    letter-spacing: 1.5px;
    margin-bottom: 6%;
}

.other-projects-content-2 {
    font-size: 1vw;
    color: #DCE1DEcc;
    letter-spacing: 1px;
    margin-bottom: 10%;
    line-height: 140%;
}

.other-projects-content-3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.other-projects-content-3-text {
    font-size: 1vw;
    color: #DCE1DEcc;
    letter-spacing: 1px;
    margin-bottom: 3%;
    font-weight: bold;
}

@media screen and (max-width: 1100px) {
    .other-projects-header {
        font-size: 2.5vw;
    }

    .other-projects__wrap {
        width: 90%;
    }

    .other-projects-card-link {
        width: 25.5vw;
    }

    .other-projects-card {
        height: 25vw;
    }

    .other-projects-content-1 {
        font-size: 1.5vw;
    }

    .other-projects-content-2 {
        font-size: 1.2vw;
    }

    .other-projects-content-3-text {
        font-size: 1.2vw;
    }

    .cards-header-icon {
        transform: scale(0.8);
    }
}

@media screen and (max-width: 900px) {
    .other-projects-card {
        height: 28vw;
    }
}

@media screen and (max-width: 700px) {
    .cards-header-icon {
        transform: scale(0.7);
    }
}

@media screen and (max-width: 550px) {

    .other-projects-header {
        font-size: 3.5vw;
    }

    .other-projects-card-link {
        text-decoration: none;
        width: 60%;
    }
    
    .other-projects-card {
        padding: 8%;
        border-radius: 6px;
        height: 47vw;
        margin: 2%;
        background-color: #0e3044;
        position: relative;
        top: 0;
        transition: all 0.2s;
    }

    .other-projects-content-1 {
        font-size: 2.5vw;
    }

    .other-projects-content-2 {
        font-size: 2vw;
    }

    .other-projects-content-3-text {
        font-size: 2vw;
    }
}

@media screen and (max-width: 400px) {
    .other-projects-card-link {
        text-decoration: none;
        width: 80%;
    }

    .other-projects-card {
        height: 63vw;
    }

    .other-projects-content-1, .other-projects-content-2, .other-projects-content-3-text {
        font-size: 3vw;
    }

    .cards-header-icon {
        transform: scale(0.6);
    }
}

@media screen and (max-width: 375px) {
    .other-projects-content-1, .other-projects-content-2, .other-projects-content-3-text {
        font-size: 3.5vw;
    }

    .other-projects-card {
        height: 71vw;
    }

    .other-projects-header {
        font-size: 4vw;
        color: #DCE1DE;
        letter-spacing: 1.5px;
        text-align: center;
        margin-bottom: 3%;
    }

    .other-projects-card-link {
        margin-left: 5%;
    }
}